@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,300;1,400&family=News+Cycle:wght@400;700&display=swap");
body {
  font-family: "Lato", sans-serif;
  margin: 0;
}
main {
  width: 100%;
  min-height: 100vh;
  background-color: #bfdbfe;
}

/* Form sections styles */

.floor_lift_count_section {
  padding: 1rem;
  height: inherit;
}
#floor_lift_count_form {
  background-color: #93c5fd;
  padding: 1.5rem;
  border-radius: 8px;
  margin: auto;
  max-width: 15rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#floor_lift_submit_btn {
    border: transparent;
    padding: 0.5rem;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    background-color: rgb(96, 165, 250, 0.8);
}
#floor_lift_submit_btn:hover {
    background-color: rgb(96, 165, 250, 1);;
}

/* floor lift playground section styles */

.floor_lift_playground {
  position: relative;
  padding: 1rem;
}

.floor_container {
  width: 100%;
  height: 8rem;
  background-color: #93c5fd;
  border-bottom: 2px solid #bfdbfe;
  /* background-color: red; */
}

.floor_container:last-child {
  border-bottom: none;
}
.floor_container:last-child .floor_switch_controls .down_btn {
  display: none;
}
.floor_container:first-child .floor_switch_controls .up_btn {
  display: none;
}



.lift_container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10%;
  right: 0;
  margin: 1rem;
}
.lift {
  display: flex;
  width: 100px;
  height: 128px;
  background-color: #60a5fa;
  overflow: hidden;
}
.door_right, .door_left {
  width: 50px;
  height: 8rem;
  background-color: black;
}

.closeOpen > .door_left {
  /* transition: all 2s linear; */
  animation-name: example;
  animation-duration: 2.5s;
  /* translate: -50px; */
}
.closeOpen > .door_right {
  /* transition: all 2s linear; */
  animation-name: example1;
  animation-duration: 2.5s;
  /* translate: 50px; */
}
#generate {
  display: none;
  margin: auto;
}

@keyframes example {
  0%   {translate: 0px;}
  50%  {translate: -50px;}
  100% {translate: 0px;}
}

@keyframes example1 {
  0%   {translate: 0px;}
  50%  {translate: 50px;}
  100% {translate: 0px;}
}
.floor_switch_controls {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 100%;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
